<div class="Home-wrapper">
  <div class="background-img"></div>
  <div class="main">
    <div class="first">
      <div class="medical">MEDICAL</div>
      <div class="serivce">SERVICE</div>
    </div>
    <div class="second">
      <h3 class="heading">Total Health Care Solution</h3>
      <p>
        Hospital, an institution that is built, staffed, and equipped for the
        diagnosis of disease; for the treatment, both medical and surgical, of
        the sick and the injured
      </p>

      <button type="button" class="btn btn-secondary btn-rounded">
        Read more
      </button>
      <button type="button" class="btn btn-success btn-rounded">
        Purchase
      </button>
    </div>
  </div>
</div>
<div class="cards">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Heart Surgery</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a
        href="https://specialisthospital.in/lp/heart-generic-bangalore/?utm_source=google&utm_medium=cpc&utm_campaign={campaign}&utm_adgroup={adgroup}&utm_term=cardiac%20heart%20surgery&utm_network=g&utm_matchtype=p&utm_device=c&utm_placement=&utm_content=550483935284&utm_Adposition=&utm_location=9062029&utm_Sitelink=&utm_Audience=kwd-302007418223&utm_Promotion=&utm_Price=&gclid=EAIaIQobChMIs7Kp7OiW-gIVhYjCCh0I9ggVEAAYASAAEgKzEfD_BwE"
        class="card-link"
        target="_blank"
        >Read more</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Emergency Care</h5>
      <h6 class="card-subtitle mb-2 text-muted"></h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a
        href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3047870/"
        target="_blank"
        class="card-link"
        >Read more</a
      >
    </div>
  </div>
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Dental Care</h5>
      <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
</div>
